:root {
    --background-color-light: #ffffff; /* Light background */
    --text-color-light: #000000; /* Light theme text color */
    --description-color-light: #555555; /* Light theme description color */
    --card-bg-light: #f9f9f9; /* Light card background */
    --card-border-light: #dddddd; /* Light card border */
    --card-shadow-light: rgba(0, 0, 0, 0.1); /* Light card shadow */
  
    --background-color-dark: #333333; /* Dark background */
    --text-color-dark: #ffffff; /* Dark theme text color */
    --description-color-dark: #aaaaaa; /* Dark theme description color */
    --card-bg-dark: #444444; /* Dark card background */
    --card-border-dark: #555555; /* Dark card border */
    --card-shadow-dark: rgba(0, 0, 0, 0.7); /* Dark card shadow */
  }
  
  /* Apply default theme (light) */
  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
  
  /* Dark theme styles */
  body.dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  